<app-header></app-header>
<div class="container-fluid content">
    <div class="row  d-flex justify-content-center align-items-center">
        <div class="col-lg-6">
            <h3 style="text-align: center;">User Information</h3>
            <form [formGroup]="userDetailForm" (ngSubmit)="getUserData()">
                <label for="customer-id">Customer ID</label>
                <input type="text" name="" value="" class="form-control" formControlName="customerId">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <table class="table" *ngIf="user">
                <tbody>
                    <tr>
                        <td style="font-weight: bold;">Name</td>
                        <td>{{user.name}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Surname</td>
                        <td>{{user.surname}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Balance</td>  <td>{{user.balance}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Transaction</td>
                    </tr>
                    <tr *ngFor="let current of user.currentDTO">
                        <td *ngFor="let item of current.transactionDTO">{{item.type}}</td><br>
                      <td>{{current.initialCredit}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
