<app-header></app-header>
<div class="container-fluid form-content">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-4">
            <h3>Create Account</h3> 
            <span style="color: yellowgreen" *ngIf="statut">Successful Create Account</span>
            <form [formGroup]="createAccountForm" (ngSubmit)="createAccount()">
                <label for="client_number">Customer ID</label>
                <input type="text" name="" value="" class="form-control" formControlName="customerId">
                <label for="credit">Initial Credit</label>
                <input type="text" name="" id="" class="form-control" formControlName="initialCredit" >
                <button type="submit" class="btn btn-primary">Creer</button>
            </form>
        </div>
    </div>
</div>